body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

/* Nav bar */

#home {
    background-color: #000000;
    padding-top: 8px;
    padding-bottom: 8px;
    margin:0;
    display: flex;
    justify-content: center;
    margin-left: -9px;
    margin-right: -9px;
    margin-top: -9px;
    height: 40px;
}

.topmenu {
    color: whitesmoke;
    margin: 0 20px;
    padding:15px;
    font-size: 15px;
    text-decoration:none;
  }
  
  .topmenu:hover {
    color: white;
  }
  
  .topdiv {
    display:flex;
    justify-content: center;
    align-items:center;
  }
